<%- include ('../partials/header') -%>

<h1>Donor List</h1>

<%- include ('../partials/search') %>

<% if (blood_donors.length > 0) %>

<body class="bg-image">
<table>

    <thead>
        <tr>
            <th>PID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Blood Group</th>
            <th>Location</th>
            <th>Contact</th>
        </tr>
    </thead>

    <tbody>
        <% blood_donors.forEach(blood_donor => { %>
            <tr>
                <td><%= blood_donor["pid"] %></td>
                <td><%= blood_donor["name"] %></td>
                <td><%= blood_donor["age"] %></td>
                <td><%= blood_donor["bloodgroup"] %></td>
                <td><%= blood_donor["location"] %></td>
                <td><%= blood_donor["contact"] %></td>
            </tr>
        <% }) %>
    </tbody>

</table>
</body>
<%- include ('../partials/footer') -%>